<div style="font-family: Roboto, sans-serif; display: flex;">
    <div id="logo" style="padding: 10px;">
        <img src="{{logo}}" alt="{{brand}}">
    </div>
    <div id="divider" style="border-left: 1px solid {{theme.separator}};"></div>
    <div id="content" style="padding: 10px;">
        <div id="name" style="font-size: 20px; font-weight: 300; margin-bottom: 3px;">{{name}}</div>
        <div id="title" style="font-size: 14px; font-weight: 600; margin-bottom: 5px;">{{title}}</div>
        <div id="separator" style="border-top: 1px solid {{theme.separator}}; margin-bottom: 5px;"></div>
        <div id="contact" style="font-size: 14px; font-weight: 400; margin-bottom: 10px;">
            <a id="phone" style="text-decoration: none;" href="tel:{{contact.phone}}">{{contact.phone}}</a> | <a id="email" style="text-decoration: none;" href="mailto:{{contact.email}}">{{contact.email}}</a>
        </div>
        <div id="social" style="display: flex; justify-content: space-between;">
            {{#each socials}}
            <a id="{{id}}" href="{{link}}" style="display: inline-flex; align-items: center; text-decoration: none;"><img style="height: 24px;" src="{{icon}}" alt="{{../brand}}"/><span style="font-size: 14px; margin-left: 3px;">{{account}}</span></a>
            {{/each}}
        </div>
    </div>
</div>